@model volunteer.domaine.entities.donation

@{
    ViewBag.Title = "Confirm";
    Layout = "~/Areas/Administrator/Views/Shared/_adminLayout.cshtml";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">


<h2>Confirm</h2>

<p>Your reservation has been confirmed ,please Connect to your account and Click on My Reservations ,
     Download the Confirmation receipt in order to pay for your reservation for the donation</p>

@*@*<div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
        <h4>Popular Don</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
        <li class="w3-padding-16">
            <img src=@Url.Content("~/Content/Upload/don.jpg")alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Don</span><br>
            <span>Sed mattis nunc</span>
        </li>
        <li class="w3-padding-16">
            <img src=@Url.Content("~/Content/Upload/don.jpg")alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Ipsum</span><br>
            <span>Praes tinci sed</span>
        </li>
        <li class="w3-padding-16">
            <img src=@Url.Content("~/Content/Upload/don.jpg") alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Dorum</span><br>
            <span>Ultricies congue</span>
        </li>
        <li class="w3-padding-16 w3-hide-medium w3-hide-small">
            <img src=@Url.Content("~/Content/Upload/don.jpg") alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Mingsum</span><br>
            <span>Lorem ipsum dipsum</span>
        </li>
    </ul>
</div>
<hr> 
<p></p>*@